        </div>
        <div class="col-sm-3">
          <p>{{ blog.description }}</p>
        </div>
      </div>
    </div>
    <footer>
      <p style="text-align: right;"><small>{{ blog.title }}</small></p>
    </footer>
  </body>
</html>

