{% include "_header.njk" %}

<h1>{{ title }}</h1>
<p>
<small>
  <time datetime="{{ page.date.toISOString() }}">{{ page.date | strftime("LLL d, y") }}</time>
  {%- if authors[creator].display_name -%}&nbsp;by <strong>{{ authors[creator].display_name }}</strong>{%- endif -%}
  {%- for category in category -%}
  <a href="/category/{{ category | wp_category_slug }}" class="responsive-margin">{{ category }}</a>
  {%- endfor -%}
</small>
</p>

{{ content | safe }}

{%- if comments[wp_id] -%}
<hr/>

<h4>Comments</h4>

{% for comment in comments[wp_id] %}
<div class="card fluid">
<blockquote>
  <div>{{ comment.content }}</div>
  <p>
    <small>
      {{ comment.author.name }} - {{ comment.date }}
    </small>
  </p>
</blockquote>
</div>
{% endfor %}
{%- endif -%}

<footer>
  {%- if tags -%}
  Tags:
  {%- for tag in tags -%}
  <a href="/tags/{{ tag | wp_tag_slug }}" class="responsive-margin">{{ tag }}</a>
  {%- endfor -%}
  {%- endif -%}
</footer>

{% include "_footer.njk" %}
