---
layout: layout.njk
pagination:
  data: collections.categories
  size: 1
  alias: category_name
permalink: /category/{{ category_name | wp_category_slug }}/
---
<h1>Posts Categorized "{{ category_name }}"</h1>

{%- if data.categories[category_name] -%}
<p>{{ data.categories[category_name].description }}</p>
{%- endif -%}

<ol>
{% set taglist = collections.category[ category_name ] %}
{% for post in taglist | reverse %}
<div>
  {{ post.date | strftime("LLL d, y") }}
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  {{ post.data.summary }}
</div>
{% endfor %}
</ol>

