---
title: Blog Posts
layout: layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
---

{%- for post in pagination.items -%}
<div>
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  {{ post.date | strftime("LLL d, y") }}
  {{ post.data.summary }}
</div>
{%- endfor -%}
