---
layout: listing.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - page
    - post
    - category
    - categories
permalink: /tags/{{ tag | wp_tag_slug }}/
listing:
  key: tag
eleventyComputed:
  title: "Tag : {{ tag }}"
---
